<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="router.navigateByUrl('/')">
      <ion-icon
        src="assets/svgs/home.svg"
        class="text-[var(--ion-color-primary)] cursor-pointer"
      ></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="router.navigateByUrl('/search')">
      <ion-icon
        name="search"
        class="text-[var(--ion-color-primary)] cursor-pointer"
      ></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="router.navigateByUrl('/profile')">
      <ion-icon
        name="person-circle-outline"
        class="text-[var(--ion-color-primary)] cursor-pointer"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
